@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background: linear-gradient(to bottom, #000000, #000000, #001eff);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.underline-hover {
  color: white;
}

.underline-hover:hover {
  color: #2563EB;
  text-shadow: 
    0 0 30px rgba(59, 130, 246, 0.7),
    0 0 30px rgba(59, 130, 246, 0.4);
}

/* Efeito de pausa ao passar o mouse */
.motion:hover{
  animation-play-state: paused;
}