@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background: linear-gradient(to bottom, #000000, #000000, #001eff);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.underline-hover {
  color: rgb(232, 255, 255);
}

.underline-hover:hover {
  color: #ffffff;
  text-shadow: 
    0 0 30px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.4);
    filter: drop-shadow(0 0 10px #ffffff);
}

.Footer-hover{
  color: rgb(232, 225, 225);
}

.Footer-hover:hover {
  color: #ffffff;
  text-shadow:
   0 0 30px rgba(255, 255, 255, 0.7),
   0 0 30px rgba(255, 255, 255, 0.4);
   filter: drop-shadow(0 0 10px #ffffff);
    
}